<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>HTML to Tree Graph</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <style type='text/css'>
    </style>
    <link type="text/css" href="/css/base.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript" src="/js/jit.js"></script>
    <script language="javascript" type="text/javascript" src="/js/graph.js"></script>
  </head>
  <body>

    <h1>HTML to Tree Graph</h1>
    <% if @message %>
      <div id="flash_message"><%= @message %></div>
    <% end %>
    <form action='/' method='POST'>
      <p>
        <label for="link"> Web site link:</label>
        <input name='link' />
        <input class='submit' type='submit' value='Do the Magic' />
      </p>
    </form>

    <% if @json_nodes %>
      <div id="controllers">
        <h2>Change Tree Orientation</h2>
        <label for="r-left">left </label>
        <input type="radio" id="r-left" name="orientation" checked="checked" value="left" />
        <label for="r-top">top </label>
        <input type="radio" id="r-top" name="orientation" value="top" />
        <label for="r-bottom">bottom </label>
        <input type="radio" id="r-bottom" name="orientation" value="bottom" />
        <label for="r-right">right </label>
        <input type="radio" id="r-right" name="orientation" value="right" />
      </div>
      <div id="infovis"></div>    
      <div id="log"></div>
      <script> window.onload = function() {init("<%= @json_nodes %>");}; </script>
    <% end %>

    <p>
      <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Calculadora</span> 
      by <a xmlns:cc="http://creativecommons.org/ns#" href="http://regedor.com/" property="cc:attributionName" rel="cc:attributionURL">Miguel Regedor</a>
      is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/pt/">Creative Commons Attribution-Share Alike 2.5 Portugal License</a>.
      <br />Based on a work at <a xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://github.com/regedor/Sinatra--Calculadora" rel="dc:source">github.com</a>.
    </p>
  </body>
</html>
