<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SiteTree</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link type="text/css" href="/css/reset.css" rel="stylesheet" />
    <link type="text/css" href="/css/base.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jit.js"></script>
    <script type="text/javascript" src="/js/graph.js"></script>
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.backgroundPosition.js"></script>
    <script type="text/javascript">
      $(function(){

        $('div#cloud2').css({backgroundPosition: '0px 0px'});
        $('div#cloud3').css({backgroundPosition: '0px 0px'});

        $('div#cloud2').animate({
          backgroundPosition:"(-10000px 0)"
        }, 1500000, 'linear');
        $('div#cloud3').animate({
          backgroundPosition:"(-10000px 0)"
        }, 900000, 'linear');

      });
    </script>
  </head>
  <body>
    <div id="wrapper">
      <h1 id="site-title">Site Tree</h1>
      <div id="flash-message"><%= @message %></div>

      <div id="tree"></div>

      <div id="cloud1"></div>
      <div id="cloud2"></div>
      <div id="cloud3"></div>

      <% unless @json_nodes %>
        <form id="main-form" action='/' method='post'>
          <label for="site-url">http://</label>
          <input id="site-url" type="text" name="site-url" />
          <input class="button" type="submit" value="Plant it!" />
        </form>
      <% end %>

      <% if @json_nodes %>
        <div id="direction-panel">
	  <h2 id="direction-title">Change direction</h2>
	  <ul>
            <li>
	      <input type="radio" id="r-left" name="orientation" checked="checked" value="left" />
              <label for="r-left">left</label>
            </li>
            <li>
              <input type="radio" id="r-top" name="orientation" value="top" />
              <label for="r-top">top</label>
            </li>
            <li>
              <input type="radio" id="r-bottom" name="orientation" value="bottom" />
              <label for="r-bottom">bottom</label>
            </li>
            <li>
              <input type="radio" id="r-right" name="orientation" value="right" />
              <label for="r-right">right</label>
            </li>
          </ul>
        </div>
        <div id="infovis"></div>    
	<div id="log"></div>
	<a id="go-back" href="/">Plant another one!</a>
        <script> window.onload = function() {init("<%= @json_nodes %>");}; </script>
      <% end %>

      <a id="github-img" href="http://github.com/regedor/SiteTree">Fork me on GitHub</a>
    <div id="footer">
      <a id="logo" href="http://www.groupbuddies.com">Group Buddies</a>
      <p>Site Tree is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-Share Alike 2.5 License</a>.</p>
    </div>
    </div>
  </body>
</html>
