<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SiteTree</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <style type='text/css'>
    </style>
    <link type="text/css" href="/css/reset.css" rel="stylesheet" />
    <link type="text/css" href="/css/base.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jit.js"></script>
    <script type="text/javascript" src="/js/graph.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <h1 id="site-title">SiteTree</h1>
      <% if @message %>
        <div id="flash-message"><%= @message %></div>
      <% end %>
      <form id="main-form" action='/' method='post'>
        <label for="site-url">Site URL:</label>
        <input id="site-url" type="text" name="site-url" />
        <input class="button" type="submit" value="Plant it!" />
      </form>

      <% if @json_nodes %>
        <div id="controllers">
          <h2>Change Tree Orientation</h2>
          <label for="r-left">left </label>
          <input type="radio" id="r-left" name="orientation" checked="checked" value="left" />
          <label for="r-top">top </label>
          <input type="radio" id="r-top" name="orientation" value="top" />
          <label for="r-bottom">bottom </label>
          <input type="radio" id="r-bottom" name="orientation" value="bottom" />
          <label for="r-right">right </label>
          <input type="radio" id="r-right" name="orientation" value="right" />
        </div>
        <div id="infovis"></div>    
        <div id="log"></div>
        <script> window.onload = function() {init("<%= @json_nodes %>");}; </script>
      <% end %>

      <a id="github-img" href="http://github.com/regedor/SiteTree">Fork me on GitHub</a>
    <div id="footer">
      <a id="logo" href="http://www.groupbuddies.com">Group Buddies</a>
      <p>SiteTree is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/pt/">Creative Commons Attribution-Share Alike 2.5 Portugal License</a>.</p>
    </div>
    </div>
  </body>
</html>
