body { background-color: #679; color: #222; text-align: left; font-family: arial, sans-serif; font-size: 62.5%; }
h1 { color: #f00; margin-bottom: 1em; font-size: 1.5em; }

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}

#infovis {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
}
